[2016-08-16 18:35] radekmie opened #1 "CLI"
Any CLI planned?

[2016-08-16 18:44] onury commented on #1
Yes, as soon as I make time.

This will take config file path as an argument (since there are too many options) and maybe a few most important ones.

[2016-08-16 18:48] radekmie commented on #1
This would be enough in most cases.

[2016-10-29 21:24] sprusr commented on #1
@onury had a crack at it, please let me know what you think. Happy to work on changes based on suggestions, or for you to do so.

[2016-10-31 00:43] onury commented on #1
Thanks for taking the time but this is implemented in v1.2.0 (just released).
See [CLI reference here](http://onury.github.io/docma/?content=docma-cli).

BTW, I wouldn't use optimist package. It's not maintained anymore.
Docma uses [yargs](https://github.com/yargs/yargs) package for CLI.

[2016-10-31 00:43] #1 closed

[2016-11-19 23:41] onury opened #3 "Upper-cased routes produce 404"
Route (names) should not be lower-cased in docma-web core.
Also, add an option for case-sensitive and insensitive routes within build configuration.

[2016-11-20 00:34] onury opened #4 "Return type parameters should be escaped in template"
Symbols with type parameters (such as `Promise<Array>`) are parsed incorrectly. This causes unclosed tags within a `<code></code>` block which breaks the template HTML.

[2016-11-20 12:01] onury opened #5 "Default value of param is parsed as `undefined` in template"
Boolean symbol parameters' default value is parsed as `undefined` (if value is `false`). It should be checked with `hasOwnProperty(param.defaultValue)`.

[2016-11-22 23:25] onury commented on #5
Fixed in v1.3.0

[2016-11-22 23:25] #5 closed

[2016-11-22 23:25] onury commented on #4
Fixed in v1.3.0

[2016-11-22 23:25] #4 closed

[2016-11-22 23:25] onury commented on #3
Fixed in v1.3.0

[2016-11-22 23:25] #3 closed

[2016-11-23 22:07] onury opened #6 "@deprecated tag should be considered"
In the default template, symbols with `@deprecated` tag should either be faded or have a warning shown. This could be configurable.

[2016-11-23 22:08] onury opened #7 "Add an option for toggling line numbers within template"

[2016-12-15 00:02] dkebler opened #8 "left fly-out list has no scroll-bar in Firefox"
In tasktimer docma while viewing in the latest firefox (50.0.2 on linux) there is no scroll to get to the last items.  Works fine the chrome.

Also curious why addTask is considered public by jsdoc but it doesn't appear in built site?
Just never built?  or does docma allow exclusion of certain elements in the builder file?

Well, might as well start putting in my jsdoc stuff. I'll give a run later

[2017-02-07 07:23] Bizarrus opened #9 "Won't create"
I've tried to generate a Documentation.

Tested on my empty JS-Function:

    /**
    	@class GameSocket
    */
    var GameSocket = (new function GameSocket() {

    }());

But noting will generated. Can't find informations about the Comments-Syntax. On YUIDoc this will works, but i want to search alternatives.

[2017-02-07 12:55] onury commented on #9
See [JSDoc documentation](http://usejsdoc.org).

[2017-02-09 12:40] gorkemerdogann opened #10 "Uncaught TypeError: Cannot read property 'split' of null"
Hello, I've created doc files with sample js file. There is an error in browser console.(index.html)

Error:

`docma-web.js:38 Uncaught TypeError: Cannot read property 'split' of null
    at Function.t.fromID (docma-web.js:38)
    at window.onload (docma-web.js:38)
`

[2017-02-11 18:48] onury commented on #10
Can you provide a sample project and your docma configuration?

[2017-02-13 06:42] gorkemerdogann commented on #10
My config:

[code]

My sample js:

[code]

Console error:

[code]

[2017-02-14 02:33] onury commented on #9
Your code has no documentation, so your JSDoc outputs an empty array. Add some description and try again. You can set debug option to `31` to enable logs and output generated jsdoc file.

Also a note, you shouldn't use `new` before `function`.

BTW, fixed some issues and released Docma v1.4.0
Pls update and try with the new version.

[2017-02-14 02:33] #9 closed

[2017-02-14 02:36] onury commented on #10
The reason is that your config does not set `app.entrance` and Docma had no default value for it. With the new release **v1.4.0** it now defaults to `"api"`. Pls update to the latest.

### Additional Notes:
If you `export` your class in the same line with `class` definition (as in your example), you should explicitly document the name and type. Example:
[code]
Otherwise, `export default class Some

[2017-02-14 02:36] #10 closed

[2017-02-14 02:38] onury commented on #8
Thanks. Fixed the scroll issue for Firefox. Released v1.4.0 with some other fixes and tweaks. Pls update to the latest.

For TaskTimer documentation, I need to check that later. It's a different repo so closing this issue for Docma.

[2017-02-14 02:38] #8 closed

[2017-02-14 06:18] gorkemerdogann commented on #10
Thank you so much for helping. Sorry for my bad. I was looking a lot of documentation tool and I did a mistake.

Best regards, have a nice day!

[2017-02-14 11:26] onury commented on #10
No problem at all. Glad to help.

[2017-02-28 08:34] macdja38 opened #11 "Support ES7 Async/Await"
node docma.js
    Error: ERROR: Unable to parse C:\Users\macdja38\WebstormProjects\pvpcraft\lib\MessageSender.js:  Unexpected token _getWebhook

        at ChildProcess.<anonymous> (C:\Users\macdja38\WebstormProjects\pvpcraft\node_modules\jsdoc-x\src\lib\helper.js:143:35)
        at emitTwo (events.js:106:13)
        at ChildProcess.emit (events.js:192:7)
        at maybeClose (internal/child_proc

[2017-03-03 17:29] vernak2539 opened #12 "Using README as title page?"
Is there a way to use the readme as the initial page? Maybe I'm just missing it in the docs...

this is what I have, which executes jsdoc well, but doesn't have the title page (like your docs :))

[code]

[2017-03-03 23:50] onury commented on #12
Sure. You just need to set app entrance.
[code]
See [build confoguration docs](http://onury.github.io/docma/?api=docma#Docma~BuildConfiguration) and this repo's own [docma.config.json](https://github.com/onury/docma/blob/master/docma.config.json) for an example.

Closing this. Pls re-open if you need to.

[2017-03-03 23:50] #12 closed

[2017-03-04 14:30] vernak2539 commented on #12
cheers! thanks for the quick response

[2017-03-05 04:17] withinboredom commented on #11
also arrow functions:

[code]

[2017-03-05 06:51] onury commented on #11
Docma uses JSDoc for parsing. See this [JSDoc issue](https://github.com/jsdoc3/jsdoc/issues/1188). I'll update as soon as it's officially supported.

[2017-03-05 07:49] macdja38 commented on #11
@onury any chance you could integrate this plugin in the time being, or if it's possible for us to do so let us know how, I took a look through the docs but I couldn't find anything on providing jsdoc plugins https://www.npmjs.com/package/jsdoc-strip-async-await

[2017-03-05 12:56] onury commented on #11
@macdja38 Docma depends on [`jsdoc-x`](https://github.com/onury/jsdoc-x) (I'm the author) which uses official [jsdoc](https://github.com/jsdoc3/jsdoc) internally. I'll see if I can add a `plugins` option to jsdoc-x so it's reflected in Docma build configuration.  I'll look into it.

[2017-03-05 15:50] onury commented on #11
Released Docma v.1.4.5
Pls see [build configuration](http://onury.github.io/docma/?api=docma#Docma~BuildConfiguration) for new JSDoc options such as `jsdoc.plugins`.

[2017-03-11 04:06] onury commented on #7
Added `symbolMeta:Boolean` template option.

[2017-03-11 04:06] #7 closed

[2017-03-11 04:06] onury commented on #6
A warning badge is displayed if the symbol is marked with `@deprecated` (v1.5.0)

[2017-03-11 04:06] #6 closed

[2017-03-11 04:10] onury commented on #11
@macdja38 jsdoc plugin support is a good workaround for this.  Tested..
Since this is not a Docma issue, closing.

Note: Also check out [v1.5.0 changes](https://github.com/onury/docma/blob/master/CHANGELOG.md#v150-release-2017-03-10) for other improvements..

[2017-03-11 04:10] #11 closed

[2017-03-14 02:36] macdja38 commented on #11
Thank you very much for the fix, it's been working well!

[2017-04-05 21:16] kid-wumeng opened #14 "Support @example <caption> style of jsdoc"
Hi, I 'm a docma template user and it's amazing beautiful, but i see the docma do not support the `<caption>` style of @example, the api-doc is:

http://usejsdoc.org/tags-example.html

[2017-04-05 23:08] onury commented on #14
Hi. Docma supports `@example` tag. Why do you think it doesn't? Pls provide your configuration and sample code/documentation.

[2017-05-08 10:53] gongph opened #16 "$ is not a function"
command line `docma -c docma.config.json`  there is a error:
[code]

[2017-05-08 19:51] onury commented on #16
That's not related to CLI.
Do you get this error in browser? It seems jQuery is not found.

[2017-05-09 01:49] gongph commented on #16
in win sys `cmd` command line .

[2017-05-09 02:04] onury commented on #16
Pls provide the info below:
- Docma version, (global or local?)
- Build configuration

[2017-05-09 02:12] gongph commented on #16
- env:
  - win7
  - docma@1.5.1
  - node@6.8.1
  - npm@3.10.8

- step1
[code]
- step2
[code]

[2017-05-09 14:33] onury commented on #16
`-v` options is for verbose logs. If you don't define any source, it throws.
Use `--version` or `-V` for Docma version.

I cannot reproduce this error you get.
Pls also provide your Docma build configuration (docma.config.json)
or a sample project if you can, which is better.

[2017-06-27 09:46] offtherailz opened #18 "Static definitions inside a ES2015 class cause errors"
This :
[code]
Causes an error like:
[code]

Also this fails:
[code]

[2017-06-27 12:35] onury commented on #18
Docma currently supports JSDoc v3.4.3 ([latest stable version](https://github.com/jsdoc3/jsdoc/blob/master/CHANGES.md) as of Jun, 2017).

[Static methods](http://usejsdoc.org/howto-es2015-classes.html) (and getters/setters) [would work](http://www.ecma-international.org/ecma-262/6.0/#sec-class-definitions) but static (property) fields seem a stage-1 proposal which is [currently not supported](http

[2017-06-27 12:37] onury commented on #16
closing this. re-open if necessary.

[2017-06-27 12:37] #16 closed

[2017-06-27 16:37] offtherailz commented on #18
Thank you,
I supposed it was a jsdoc issue. Even if not supported I hope there is a solution to avoid documentation generation to crash, because it is the automatic conversion suggested by facebook to migrate to react 15 that uses that syntax to autobind functions.
We would try to find a solutions to propose to acorn / acorn-jsx (the JS parser at the end of the chain) they can accept.

[2017-07-22 10:24] cpetry opened #19 "Add class inheritance diagrams"
Hi there,

I suggest adding a class (ECMAScript 2015) inheritance diagram for each class (similar like doxygen or other libs).
This could be quite fancy!

[2017-07-22 19:13] cpetry commented on #19
Found an existing jsdoc inheritance builder at https://github.com/valerii-zinchenko/inheritance-diagram
Is it possible to integrate this?

[2017-07-23 11:22] cpetry commented on #16
Hi there,

just tried using docma.
Installed it with npm but creating documentation throws the same error:

`docma -V    // 1.5.1`

I am working on win10

[2017-07-31 09:09] dietergeerts opened #20 "@enum doesn't produce the possible values in the generate docs"
I can't seem to figure out how to have the actual possible values in the generated docs. I tried addng `/** @member {string} */` to the values, but that also doesn't work. I use `@readonly @enum {string}` on the object.

[2017-07-31 11:34] onury commented on #20
Below example generates proper docs for enum:
[code]

[2017-07-31 15:17] onury commented on #16
Pls provide your build config and sample code if possible.
Otherwise I cannot reproduce this problem.

[2017-08-01 06:27] dietergeerts commented on #20
Tried, but wait, AHA, now I see, If the description is being left out of the values, they don't show up. imho, in many cases, enum values document theirselves if the name is chosen right.

[2017-08-01 07:05] dietergeerts opened #21 "How to omit constructor?"
We are writing AngularJS services, which are classes, and therefore, we don't need to document the constructor, but whatever I do, I can't get then to be not included. @ignore doesn't work for them. Is there a way or setting that I can not include the constructor, but keep the class api doc?

[2017-08-01 10:00] onury commented on #20
Docma has a configuration `buildConfig.jsdoc.undescribed` that specifies whether to include symbols without a description; which defaults to `false`. Pls see [documentation](http://onury.github.io/docma/?api=docma).

[2017-08-01 10:07] onury commented on #21
This is not related to Docma, but rather a JSDoc question. Please use StackOverflow or other QA sites for this.

You can take a look at JSDoc documentation. There is a [`@hideconstructor`](http://usejsdoc.org/tags-hideconstructor.html) tag. You could also mark it `@private` if you're not documenting private symbols.

[2017-08-01 10:13] onury commented on #21
`@hideconstructor` tag is supported in JSDoc 3.5.0 and later. Docma currently supports JSDoc v3.4.3. This will be available with new Docma release.

[2017-08-10 17:40] dietergeerts commented on #21
Thx.

[2017-08-16 06:06] dietergeerts commented on #20
It's not working.
This is what I got:
`
{
  "src": [
    "./src/**/*.js",
    "./docs/**/*.md"
  ],
  "dest": "./dist-docs",
  "app": {
    "entrance": "content:main",
    "routing": {
      "method": "path"
    }
  },
  "jsdoc": {
    "undescribed": true,
    "excludePattern": ".(states|module|component|directive|filter|resolve|test|events|decorator|service|config|data|dto).js$"
  }
}
`
`
/**
 *

[2017-08-16 19:12] onury commented on #20
Pls try moving `export` to the end. JSDoc somehow does not document as expected when `export` is used on the same line. Try like below and let me know if it works for you.
[code]
I'll check if this is fixed with latest version of JSDoc; if not I'll file an issue with them.

[2017-08-16 19:19] onury commented on #20
Also, I noticed that you don't have any documentation for your properties. I suggest you add some description for these properties for better docs.

[code]

If you don't want to do that; Docma [default build config](http://onury.github.io/docma/?api=docma#Docma~BuildConfiguration) has some settings for this.

`buildConfig.jsdoc.undocumented` (default: `false`) — Specifies whether to include undocu

[2017-08-16 23:58] onury commented on #19
This is rather a Docma **template** feature. It could be done via a new template or could be added as a feature to the default template. I'll think about this. In the meantime, PRs are welcome.

[2017-08-17 00:44] onury commented on #18
That crash/issue (with your static property example) is [fixed](https://github.com/jsdoc3/jsdoc/issues/1419#issuecomment-319853169) by JSDoc v3.5.4 which is the version Docma will run with the new release.

This will also add support for arrow methods and code with most [ES2015 features](https://github.com/jsdoc3/jsdoc/issues/555#event-1175059313).

I still have some work with the new release; but

[2017-08-17 20:28] onury commented on #16
I'm about to release v2.0.0.

Tested the issue you've reported with both current (v1.5.1) and v2.0.0 thoroughly on Win10. Still cannot reproduce this. Both programmatic API and CLI work as expected.

@gongph, @cpetry If you can provide your complete docma.config.json and some (sample) code to document; I'll give it one more try and fix if necessary, before this release. Let me know.

[2017-08-17 22:54] onury commented on #20
Tried your initial example. You should set both `.jsdoc.undocumented` and `.jsdoc.undescribed` to `true` to get the members of your enumeration documented. It definitely works that way.

[2017-08-17 22:54] #20 closed

[2017-08-18 06:59] cpetry commented on #16
Sorry but I already switched to pure JSDOC.
Works great for me.

[2017-10-13 18:49] jayesbe opened #22 "Relative Links in Markdown"
Hey guys, wanted to thank you for this great project. Still waiting for ES6 support but otherwise its working nicely. I have one issue though related to relative links inside the README.md

example

I have a README.md file in the project root that contains the following lines

    - [Login](doc/login.md)
    - [Logout](doc/logout.md)

When the doc is generated.. the console spits out the following

[2017-10-16 16:05] jayesbe commented on #18
@onury  any idea when a new version will be released.. I thought it would be as easy as just updating the jsdoc-x dependency but its still failing for me on arrow functions

    const example = () => { }

causes an error on page load which results in a no render

`Uncaught TypeError: Cannot read property 'indexOf' of undefined
    at app.min.js:1
    at Array.reduce (<anonymous>)
    at app.min.js

[2017-12-08 14:22] warpdesign commented on #16
I am having the same error, on Windows 10 too, that's with docma `1.5.1`.

Full log:

[code]

[2017-12-08 14:45] warpdesign commented on #16
It'as crashing here:

`docma.template.js`:

[code]

window.$ is not defined.

[2017-12-08 15:09] warpdesign commented on #16
jQuery's path seem to be fine:

But for some reason, jsdom fails to load it.

I tried replacing it with some hardcoded url in html-parser.js and it fixes the problem.

[2017-12-08 15:43] warpdesign commented on #16
@onury I submited a pull_request that adresses this bug.

[2017-12-09 00:22] warpdesign opened #25 "Cannot generate any API files: null contentPath"
I tried to clone this repository, and simply ran `npm install && npm run docs` in order to generate the documentation.
It first failed because the file ./doc/HOME.md doesn't exist:

After fixing it by simply replacing it by `./README.md` in `docma.config.json` which exists, the docs are generated, but the content path is **null** for every `api` file:

[code]

What's wrong?

I tried to create a ve

[2017-12-09 00:53] onury commented on #25
I generate docs for Docma itself, from code and files in `/doc/`. That directory is [not included in commits](https://github.com/onury/docma/blob/master/.gitignore#L4). So that's normal but I'll remove it from tests though.

That's normal and expected. For markdown files, an `html` (content) file is generated, hence the content path.  But for `api` routes (which are generated from `.js` files); do

[2017-12-09 01:04] #19 closed

[2017-12-09 01:08] onury commented on #18
There are other things to be updated such as `jsdom` which itself also has breaking changes. I'm working on v2 (actually these are implemented already), just needs some more time for template adjustments, etc..

[2017-12-09 01:22] onury commented on #22
You'd typically link to the final URL in your markdown.
[code]
But I assume you want to provide your docs both within GitHub as regular markdown and as Docma generated SPA.

I'll consider this but it's a bit problematic.
e.g. is `folder.com/login.md` a relative link or an actual URL?
And what if you really want to link to relative `.md`?

[2017-12-09 12:45] #25 closed

[2017-12-10 16:58] warpdesign opened #26 "Suggestion: option to collapse all methods on the side-bar"
Let's say I have two classes displayed on the left sidebar:

[code]

It would be great if there was a way to should only root level initially:

[code]

Clicking on `MyClass` would then expand MyClass and show its methods/properties:

[code]

As it is now, the list becomes quickly huge once you have several classes that have lots of methods.

Example:

![capture d ecran 2017-12-10 a 18 01 55](https

[2017-12-10 17:01] warpdesign commented on #26
The same thing for the right side would be great: only showing the `symbol-heading` initially and only show the symbol's definition by clicking on the heading.

[2017-12-12 00:38] onury commented on #26
There are some improvements in the default template. We can add a feature like this but first need to complete v2 (docma core).

[2017-12-13 14:06] warpdesign opened #27 "Sort properties first/last"
Right now, properties and methods are mixed, so a class description could look like this when sorted:

[code]

It would be great if there was an option to sort first (or last) methods and then properties, so the class description would look like this:

[code]

or (properties first):

[code]

I am planning to add the option to the template I am working on but am not sure how to do it: I guess I cou

[2017-12-14 11:32] warpdesign opened #28 "Description removes Windows-style newlines."
Let's say I have a description like this one:

[code]

If I save the file with Windows line-endings (`CRLF`), the generated symbol.description will be:

Which will end up rendering this description html:

[code]

If I save the save file with Unix line-endings (`LF`), the symbol.description will be correct:

Which end up rendering this description html:

[code]

[2017-12-14 20:15] onury commented on #28
Can you clone/download the master and try if this resolves the issue? I'm not a PC.

[2017-12-15 10:25] warpdesign commented on #28
You don't need a PC to reproduce the problem: just save one of your js files with Windows line-endings.

VSCode does this, or you could use this command line to convert from Unix to Windows:

(output.txt and input.txt must be different).

[2017-12-15 10:27] warpdesign commented on #28
I tested your patch: and it fixes the problem.

[2017-12-20 17:02] warpdesign opened #29 "How to include assets to generated documentation?"
I have some images in one of the .md I'm using in my Docma documentation:

[code]

That's get transformed as:

[code]

But the `img/foo.png` is not copied to the output folder so when reading the documentation I don't see the image.

Is there a way to specify an assets directory that will be added to the generated documentation? Or should I do it by hand?

[2017-12-20 17:14] warpdesign commented on #28
@onury Do you need more information?

[2017-12-20 22:43] onury commented on #28
nope. I was just busy. Sorry for the wait. Released.

[2017-12-20 22:43] #28 closed

[2017-12-20 22:50] onury commented on #29
Currently you need to provide an absolute URL for images and/or include the assets while you upload the generated docs.

But this feature should be added definitely.

[2017-12-20 23:21] onury commented on #27
As you noted, this is a template-related feature rather than core. The default template that will come with Docma v2 will have a quick-filter toolbar for symbol types. This is not exactly what you want but serves a similar purpose.

If you're creating a custom template, one way to do it is via [dust templates](http://www.dustjs.com/guides/getting-started/). Take a look at [sidebar.html](https://gi

[2017-12-21 07:56] warpdesign commented on #28
No need to be sorry :) Thanks!

[2017-12-22 17:08] warpdesign opened #30 "New template"
Just to let you know the documentation for [AthenaJS](https://athenajs.github.io/athenajs-documentation/) is now using Docma with a new template (which is based on Docma's default template) and is available [here](https://github.com/AthenaJS/athenajs/tree/master/docma-template) :)

[2017-12-22 18:19] onury commented on #30
Glad to hear that. Nice work !

[2017-12-22 18:21] onury commented on #27
Closing this. Feel free to re-open if needed.

[2017-12-22 18:21] #27 closed

[2017-12-25 10:13] mojavelinux opened #31 "Allow preview from local file URL"
Currently, the SPA can't be previewed via a local file URL. It always shows a 404 page.

I did manage to hack docma-web.js to enable hashbang routing, which allowed me to view an API via:

file:///path/to/output/index.html#!/?api=group

However, none of the links worked and it was pretty fragile in general.

Would it be possible to support previewing via a local file URL? This is the ideal mode fo

[2017-12-25 20:12] mojavelinux commented on #30
I really like the type definition links you added. Is there a reason you didn't link to types within the API too? (For example, linking from the MapEvent constructor to the Map type). That would really be a nice feature to have in docma.

[2017-12-25 21:37] onury commented on #31
I don't think file URI scheme would ever work properly, especially with `base` tag (set via build configuration `app.base`).

Why don't you run a simple server? It's very easy to do so.
You'd just run it once and then reload the page each time you make a change; as you would do regardless of URI scheme anyway..

- either run a simple server via Python:
[code]
- or you could use [`http-server`](htt

[2017-12-26 15:45] DrYSG opened #32 "Version 1.5.1 creating broken documentation?"
It probably is me, since I just started trying to use docma.

But when I use Chrome to load the documetation, I get a page not found error (404). (even though it should all be at http://localhost/WebView/docs/ )

[code]

The build seemed to go fine:

[code]

The template is as follows (all the js files are at ./scripts/*.js and the webpage is at webview.html

[code]

[2017-12-26 23:44] onury commented on #32
You are incorrectly using the template configuration file. That's for template developers.

You should instead create a docma.config.json for your build configuration. See [Docma's own config file](https://github.com/onury/docma/blob/master/docma.config.json) for an example... And pls read the [docs](https://onury.io/docma/?api=docma#Docma~BuildConfiguration).

[2017-12-26 23:44] #32 closed

[2017-12-26 23:47] #30 closed

[2017-12-26 23:48] onury commented on #30
Closing this now. We can improve the template(s) more once we get v2 out.

[2017-12-28 09:56] warpdesign commented on #30
@mojavelinux Yes, there is a reason. I wanted to do it for API types too but it's not that easy since links can be in different API pages sections.

For example, the `?api=map` section contains documentation for Map, MapEvent, Tile but there's no way for me to know that when the links are generated.

I could hardcode it quite easily but I wanted something could be reused by anyone so I decided to

[2017-12-28 10:01] mojavelinux commented on #30
Thanks for the explanation. That helps me think about how I'm going to approach this problem. I think links between types is essential in an API, so I'm going to need to find a way to do it if I'm going to be able to use docma for my API docs. This really does seem like something docma should be able to track internally.

[2017-12-28 10:03] mojavelinux commented on #31
Given that it's an extra step, it ends up being a huge pain to remember to do. Browsing file URLs is much more friendly to my contributors (one less thing to have to explain).

I could live with that. I takes care of the extra step problem.

Given that I was able to prove that the hashbang URLs work fine, I'm not sure what the problem is. It was just a matter of flipping a switch. But I realize I

[2017-12-28 10:06] warpdesign commented on #30
I guess it should be possible to do that by poking into documentation global var but I had some timing constraints cc @onury.

I'll have a look when I can find some free time.

[2017-12-28 11:53] onury commented on #31
You can check out [v2 branch](https://github.com/onury/docma/tree/v2). CLI currently has this feature.
_Note that this is work in progress, not guaranteed to be stable until merged to master and released._

Feel free to re-open this if you need to.

[2017-12-28 12:19] onury commented on #30
This should be a template feature, rather than docma builder core.
Each symbol is a bookmark on that route/page. You could link it via hash.
e.g. `?api=map#MapEvent`

Linking could be done via a custom [Docma/Dust Filter](https://onury.io/docma/?content=docma-filters). So (for the default template) in the [`symbol` partial](https://github.com/onury/docma/blob/v2/templates/default/partials/widgets/

[2017-12-28 13:45] warpdesign commented on #30
That's already what I am doing, the only problem was getting the correct api to link to.

[2017-12-28 14:15] onury commented on #30
Alright. We can add a utility method to get link for a symbol in docma web-core.

[2017-12-28 14:27] warpdesign commented on #30
@mojavelinux It wasn't so hard after all: I added link to API objects in the documentation.

I also did the same thing for returned types and for extend types.

[2017-12-28 14:33] warpdesign opened #33 "Missing documentation"
I found that the following methods were not documented:

 - docma.utils.listType
 - docma.utils.listTypeDesc

Since there are used in the default template's filters (`$returns`, `$extends`, `$exceptions`) I think it would be a good idea to add them.

[2017-12-28 15:48] onury commented on #33
Those are left out on purpose. I'll check if they're ok for general use and add if ok.

[2017-12-29 01:15] onury commented on #33
These are now included but for semantics, they are refactored in **v2** as below:

- `docma.utils.listType()` refactored to `docma.utils.getCodeTags()`
- `docma.utils.listTypeDesc` refactored to `docma.utils.getFormattedTypeList()`

Each now has additional arguments for format options.

[2017-12-29 03:07] onury commented on #22
There is no proper way of implementing this.
I suggest you link to SPA routes as mentioned previously, not relative source paths (of `.md` files).

[2017-12-29 03:07] #22 closed

[2018-01-10 22:19] warpdesign opened #34 "Suggestion: do not remove .git when building documentation"
When building the documentation, docma will empty the directory specified with the `-d` option.

Right now, I am generating the documentation at the root of a git repository, so that when I want to update the documentation, I just have to commit/push the new files to my repository to update the website.

But since docma empties the whole directory, it also removes the `.git` directory so I can't c

[2018-01-10 23:07] onury commented on #34
I see your point. Will look into it.

[2018-01-30 10:25] psi-4ward opened #35 "@emits not documented?"
[code]

The `@emits` attrib is not in the generated api doc.

[2018-03-06 12:33] pratiks commented on #26
+1 for this !

[2018-03-06 13:09] onury commented on #26
This is already implemented. Just hang on a couple more days for v2 release.

[2018-03-24 20:08] pratiks commented on #26
Hi - was there a plan for a release of V2?

Also - I would love to help contribute to this project.

[2018-03-25 02:04] onury commented on #26
@pratiks I've been very busy. I'll try to complete version 2 this week.

You're very welcome to contribute. You can check out v2 branch for development. Maybe you'd want to wait for the release first though since this is a huge release.

[2018-03-26 20:41] pratiks commented on #26
@onury  -  Sorry if that sounded pushy;  wasn't sure if the release was private or through some other channel.

I will checkout the V2 branch and see where I can help. Oh ya, my man, amazing work!

[2018-04-12 20:48] onury commented on #35
Support for `@emit` is added in v2.0.0

[2018-04-12 20:48] #35 closed

[2018-04-12 20:49] onury commented on #34
Docma v2.0.0 is released. Now, Docma will NOT empty the destination directory by default. CLI has a new `--clean` option if you want all contents to be removed before building into the dest. dir.

[2018-04-12 20:49] #34 closed

[2018-04-12 20:49] onury commented on #29
New option `assets` is added in Docma v2.0.0
Thanks

[2018-04-12 20:49] #29 closed

[2018-04-12 20:52] onury commented on #26
Docma v2.0.0 is released. The default template (now called Zebra) is also released as a node module. This still comes built-in with Docma (you don't need to install it separately).

See `sidebar.itemsFolded` under [template options](https://onury.io/docma/?content=zebra-template#template-options).

[2018-04-12 20:52] #26 closed

[2018-04-12 20:53] onury commented on #21
Available with Docma v2.0.0 — just released.
Thanks.

[2018-04-12 20:53] #21 closed

[2018-04-12 20:54] onury commented on #18
Supported in Docma v2.0.0.

[2018-04-12 20:54] #18 closed

[2018-04-12 20:55] onury commented on #14
This is supported in Docma v2.0.0.
Thanks.

[2018-04-12 20:55] #14 closed

[2018-04-12 21:04] onury commented on #31
We now have `docma serve` command.

[2018-04-12 21:04] #31 closed

[2018-04-12 21:08] onury commented on #25
Now, Docma v2 outputs the route table like this:

<img width="862" alt="docma-console-1" src="https://user-images.githubusercontent.com/3665990/38704359-bae19236-3eae-11e8-8da0-2d084156a3ad.png">

[2018-04-12 21:42] mojavelinux commented on #31
Great news! I look forward to trying it out!

[2018-04-14 15:59] dietergeerts commented on #21
Thx. The new version is looking good. Sure to try it out, as I still haven't found a good doc builder for my projects (not one that I like the results from and that can work with the crazy FP stuff in it.)

[2018-04-23 17:14] nvonbulow opened #38 "Package published on npm has broken command line"
When I try running the `docma` command, it immediately crashes with `Cannot find module '../lib/docma'`. Upon further investigation, this is because, in the published version, the file is named `../lib/Docma.js`. Since Unix systems are case-sensitive, the file is not found. This seems to be more of an issue with the way you packaged Docma than with the actual code itself. It looks like the file is

[2018-04-29 16:12] onury commented on #38
This is fixed in v2.1.0
Thanks

[2018-04-29 16:12] #38 closed

[2018-06-19 13:46] maxrumsey opened #39 "Uncaught TypeError: Converting circular structure to JSON"
When I load my documentation website at https://maxrumsey/hookcord I receive this error message: `Uncaught TypeError: Converting circular structure to JSON`
The full error is:
[code]
My repository is: https://github.com/maxrumsey/hookcord/
This is what I see when I load maxrumsey.xyz/hookcord/
![image](https://user-images.githubusercontent.com/22051776/41601088-17ebebd0-740a-11e8-9c70-a10cbf9dddbc

[2018-06-20 09:19] maxrumsey commented on #39
Never mind, resolved on it's own.

[2018-06-20 09:19] #39 closed

[2018-06-30 11:19] AjanthUthaya opened #40 "Help with setup"
This looks like a cool and easy way to document, but i can not figure out how to set it up. If you have time, can you help me setup an example project or just the basics on getting started?

[2018-06-30 12:10] onury commented on #40
You can find detailed [documentation here](https://onury.io/docma/). And check out [configuration file](https://github.com/onury/docma/blob/master/docma.json) of this project for an example.

[2018-06-30 12:35] pratiks commented on #40
Please learn what the product is and isn’t.  This isn’t not intended to
create documents quickly in the traditional sense, for it is generated
using docstring, since you referred to nest objects, they can also be
readme files, etc.

You have to coordinate the layout of your site in the docma.config.json
file.  Take a look at some examples on GitHub.

On Sat, Jun 30, 2018 at 7:25 AM Ajanth Uthaya <

[2018-07-03 09:15] #40 closed

[2018-07-12 12:43] MaienM opened #41 "Cannot read property 'replace' of undefined"
When trying to view the generated documentation of one of our projects I get a blank page and the following error in the console:

[code]

Looking into the file, this seems to be due to the `kind.replace` call. Replacing this with `(kind || "unknown").replace` resolves the issue.

It appears this problem is caused by having a (non-exported) documented top-level variable. For example:

[code]

[2018-07-28 20:03] ilouHD opened #42 "Docma only creates README/guide"
Hey, I'm trying to use Docma for my own CMS based on Node.js, but running Docma only generates a page for my README.md (so the guide). I started writing a script (docma.js) in my project's root with the following content:

[code]

Currently the app-entrance is the guide. When now visiting the docs I see my README.md. But changing now the app-entrance to my 'core', that currently has only one file

[2018-08-01 22:35] dkebler opened #43 "cli and config file formats"
If using the cli the config file must be straight json?   yaml supported?   If not yaml then I suppose I have to use the api to build so I can import the config as js (and thus comment it).

[2018-08-01 22:49] dkebler opened #44 "best way for dev auto build"
Doesn't look like the cli has an watch/rebuild mode (new feature?).  So was just going to use the api to do a build and then run that with nodemon watching my source directories to get an auto rebuild.  Do you suggest another (better) way?  I can run a web server separately.

[2018-08-02 01:04] dkebler commented on #44
I did as I suggested and it seems to be working so I am closing this although if you have a better idea please share.

[2018-08-02 01:04] #44 closed

[2018-08-02 01:06] dkebler commented on #43
well I already did as I thought so I am closing this but maybe you should support yaml as well as json as json is a pain to hand code and doesn't allow comments.

[2018-08-02 01:06] #43 closed

[2018-08-02 01:28] dkebler opened #45 "@const description causes docma not to render an api page"
I understand correctly the first entry in the src: key array will be used for the `?api=`  query route??

So docma is parsing my source files (because if I put in a syntax error it catches it)  but then there is no actual html being rendered at the api route.  It doesn't show a 404 just a blank page so it thinks the route is good just nothing there.   Nothing obvious in the build directory either.

[2018-08-02 02:06] dkebler commented on #45
ok I now understand that the rendered api docs are in the docma-web.js file and I can search and find the functions from my source.  Why is that not getting rendered to the page.

the source of the "blank" page is

[code]
and if I click on  the js/docma-web.js file it comes up and indeed reference to my source functions are there.  Yet a blank page is rendering???

[2018-08-07 20:14] dkebler commented on #45
with debug on it all looks fine.
[code]
When loading ?api=UCI
in  firefox console shows a type error, the error below.

[code]

[2018-08-07 21:25] dkebler commented on #45
I have tracked it down.  Docma does not like this @const JSDOC line with the descriptive text after.
[code]
with console error
[code]

if I remove it the error is gone and the page renders
[code]

as far as I know there is nothing wrong with adding a description to an @const tag

[2018-08-08 17:04] dkebler opened #46 "support {@link }"
Looks like docma doesn't support the jsdoc {@link}.   Doesn't throw an error but no link is displayed.

This would be very useful to say link to an anchor in a guide or to the source code itself

http://usejsdoc.org/tags-inline-link.html

[2018-08-08 21:11] dkebler commented on #46
hmm... I see you can create links like in the markdown.emoji description
`If set to true, emoji shortcuts (e.g. :smiley:) are parsed into <img /> elements with twemoji SVG URLs.`

Is that done via {@link} cause when I try to use it no link is rendered?

[2018-08-08 21:17] dkebler commented on #46
nevermind :-).   Looks like @link is only valid in a description or if need be prefaced with @description.  Then it is recognized/rendered

[2018-08-08 21:17] #46 closed

[2018-08-14 21:54] MaienM commented on #45
This is a duplicate of #41, which has a workaround you could use in the meantime.

[2018-08-20 14:05] folkvir opened #47 "Script tags are not loaded when loading HTML content"
Hello, firstly, thank you for your work. 👍

The issue is that none of my JS scripts are loaded when I'm trying to load a HTML file to complete my documentation.
For example I am trying to load a demonstration with a bundle.js file (bundled with webpack) in the HTML file:
[code]

The docma.json config file:
[code]
Output of routes constructed using docma:
[code]
So accessing the link /demo is not w

[2018-08-23 20:29] MaienM opened #48 "@link by namepath"
According to the docs of [`@link`](http://usejsdoc.org/tags-inline-link.html), it should be possible to create link using the namepath. However, when I do so in docma, this creates an incorrect link. Looking at the code, there are some commented out blocks that seem to relate to this, but these appear to be unfinished (`if (symbolNames && symbolNames.indexOf(link) >= 0) {..}` in `Utils.parseLinks`

[2018-08-23 23:59] onury commented on #48
So is the example below a similar case?
`{@link MyClass|see this}` » outputs » `<a href="MyClass">see this</a>`

If so, that is the correct behavior.

For example, what about `{@link instance.net}`? Is this a code/symbol link? or a website?
If it's the latter and Docma prepended a `#` by default, the link would be invalid if this is a website link.

Since Docma generates a SPA, a "name path" essen

[2018-08-24 00:09] onury commented on #47
Hi. It seems you're not copying `bundle.js` over to your documentation output dir. Can you check the generated output? If this is the case, you can use `assets` config to copy it to the right path.

[2018-08-24 00:34] onury commented on #42
Hi. Your output seems ok.
If you're changing entrance to a api route, you should set it to `entrance: "api:core"`.
You can also play with the `base` option to see if it's set correctly, depending on your directory structure.

[2018-08-24 09:33] MaienM commented on #48
Like you said, the URL can be different depending on how docma (or any other JSDoc template) generates the docs: anchors, separate files, etc. I feel that this shouldn't matter when writing the docs, as this is really just an implementation detail of the chosen template. The docs just refer to another object by namepath, it's up to the template to convert this to an URL that it understands. It doe

[2018-08-24 13:28] onury commented on #48
I made a general statement about JSDoc not being a proper spec (It actually is not, really) and mixing  specification with implementation. e.g. from JSDoc docs; _"By default, {@link} generates standard HTML anchor tags."_, or _"Forces the link's text to use a monospace font"_ Or the example of `MyClass` to `MyClass.html`. These are/should be implementation details.

Anyway, I see what you mean. We

[2018-08-27 08:38] MaienM commented on #48
Ah, I see what you mean. It does contain some stuff that is implementation specific, yeah. I've always just taken these to be examples of the reference implementation rather than part of the spec itself, but they aren't always clearly indicated as such, unfortunately.

[2018-09-07 18:54] jayesbe commented on #41
[code]

[code]

produces the same error

[2018-11-02 20:14] jayesbe opened #50 "Links on typedef's do not maintain the base path"
I am noticing that typedef's do not maintain the base path when links are generated.

[code]

results in

[code]

We can see that the `/pages/Development/sdk/api#Foo~bar`  is generated correctly.. however the `/api/#Foo.BarResponse` link is missing the base path prefix.

[2018-11-02 21:13] jayesbe commented on #50
I see this in DocmaWeb.js

[code]

seems like the links do not get updated because of the prepended /api/ before the # resulting in those links getting skipped over...

[2018-11-06 20:56] aaronmallen opened #51 "inheritdoc not respecting "smart linking""
given

[code]

[code]

[code]
both the inheritance of properties and the "Extends" link properly generate for `B` but when you do:

[code]
the inheritance breaks (i.e. none of the class properties are carried over) however the "Extends" link still points to the proper base class.

[2018-11-06 21:02] aaronmallen opened #52 "Support extensionless files"
currently there is no way to compile an extension less text document:

[code]
will produce the following warning and fail to compile the file:

[code]

please add support for extension less text files as this format for LICENSE is fairly common practice (its the default new repo behavior on github)

[2018-11-06 21:12] aaronmallen opened #53 "Declaring const will cause docma to fail to render SPA without console warn"
It would appear that attempting to document a variable declared with `const` will cause docma to render an empty white page without any output to the terminal as to what the cause may be:

to reproduce simply document a file like this:
[code]
and then run `docma -s src/**/*.js -d docs && docma serve docs`

The server will render the navbar but displays an empty white page for the `?api` route.

te

[2018-11-06 21:14] aaronmallen commented on #53
When you think you looked at previous issues 😖. Closing as duplicate of #41

[2018-11-06 21:14] #53 closed

[2018-11-09 01:39] dannyrb opened #54 "TypeError: (name || "").replace is not a function"
![image](https://user-images.githubusercontent.com/5797588/48237781-4b233c00-e396-11e8-8041-df811c8343d6.png)

I'm able to generate documentation if I limit it to a small subset of my source. When I expand it to all files, I get this error. No new output is generated. I'm unable to identify where/what is throwing this error.

Any/all help is appreciated; even if it's just some advice on how to deb

[2018-11-09 02:52] onury commented on #54
my eyes! how can you even read that output :/

:) I suspect a non-string argument got passed to `cleanName()` function; which tries some replace operation on it.

Can you replace `cleanName()` function  in `node_modules/jsdoc-x/src/lib/utils.js` with the code below to see the cause:
[code]

I think this can be fixed with:
[code]

[2018-11-09 15:11] dannyrb commented on #54
Thanks for the quick response, @onury!

New information logged:
[code]

When using your suggested fix, I don't see error output in `PowerShell`, but when serving the output I get a blank screen and a console error:

![image](https://user-images.githubusercontent.com/5797588/48269473-a8a2a180-e405-11e8-8f56-c2c2c0d11246.png)

At some point, `helper.getSymbolInfo` is called with a `kind`, `scope`, a

[2018-11-09 15:46] dannyrb opened #55 "Uncaught TypeError: Cannot read property 'names' of undefined"
This bit of code:
[code]

Is called, and `returns` value is: `[{description: "Object"}]`

When this line is executed:
https://github.com/onury/docma/blob/464fe5b69588a90f60852c44ad863fb47a7e4cd2/lib/web/DocmaWeb.Utils.js#L1130

`item` is `{description: "Object"}` has a `type` of `undefined`, which causes this error.

[2018-11-09 15:53] dannyrb commented on #55
I'm able to fix this issue by doing a find and replace for all instances of:

find:
`@returns Object`

replace:
`@returns {Object}`

We should probably emit a warning if no `type` is specified for `@returns`?

[2018-11-09 21:23] adampbragg opened #56 "Without error, API documentation not rendering"
Locally using the docma provided server, everything loads properly except for the API. The left panel opens and looks like it should, but the list of documented items is missing. I can see the definition of what is supposed to be rendering in the left panel described in docma-web.js. I can see no error in the debug output when generating the SPA and I can see no error when the SPA attempts to load

[2018-11-09 22:39] adampbragg opened #57 "Same configuration does not work both locally and in GitHub pages"
I can navigate the SPA locally or in the remote GitHub pages. But, I cannot get the configuration right so I can navigate in both with the same configuration.

If I have the base set like so:
`"base":"/myrepo"` then the navigation works in GitHub pages but not locally.
If I have the base set like:
`"base":"/"` or `"base":""` then the navigation works locally but not in GitHub pages.

I think it is

[2018-11-10 01:29] dannyrb commented on #56
@adampbragg do you see an error in the developer console when attempting to view docs?

[2018-11-10 02:46] adampbragg commented on #56
@dannyrb Nope. No errors in the console during generation or while viewing in the browser.

[2018-11-10 12:45] onury commented on #52
Ok. This sounds fair.

### Notes for implementation:
We can add support for force-parsing given file(s) to a specific format.
Format would be one of: `md`, `html`, `js`
An build configuration:
[code]

I guess this resolves the problem.

[2018-11-10 13:12] onury commented on #57
@adampbragg can you tell me:
- Your directory structure
- Where your docma.json exists
- From which directory you run the `serve` command
- Full command you use to start the server

[2018-11-10 15:40] onury commented on #55
Thanks for reporting.

Well that's actually invalid JSDoc but still we should watch for it. But shouldn't give warnings which would bloat the code too much. It'd be best to validate/lint jsdoc while writing it (via editors, plugins, etc) anyway..

I'm adding conditionals to watch out for this. I'll let you know shortly.

[2018-11-10 15:42] onury commented on #54
Thanks. I'm fixing this with some other revisions. I'll let you know.

[2018-11-10 15:52] dannyrb commented on #55
@onury, out of curiosity, what does your typical dev setup look like for enforcing valid JSDoc?

[2018-11-10 17:10] onury commented on #55
| Language | Linter | Rule | VSCode |
| ----------|-------|------|-------------------|
| JavaScript | ESLint | [`valid-jsdoc`](https://eslint.org/docs/rules/valid-jsdoc) | [extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) |
| TypeScript | TSLint | [`jsdoc-format`](https://palantir.github.io/tslint/rules/jsdoc-format/) | [extension](https://marketplace.visualst

[2018-11-11 14:39] onury commented on #54
This is fixed now.
I'm waiting for users on other issues before I release new version.

[2018-11-11 14:51] onury commented on #51
Seems to be a [JSDoc](https://github.com/jsdoc3/jsdoc) issue. (Docma uses JSDoc to parse documentation.)
See [@inheritdoc related issues](https://github.com/jsdoc3/jsdoc/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22%40inheritdoc%22) before you decide to open a new one there.

Feel free to re-open if needed.

[2018-11-11 14:51] #51 closed

[2018-11-12 21:27] dannyrb opened #58 "Hierarchy/Outline displays incorrectly"
## Problem

Code organized by `namespace` is not sorted or grouped correctly.

### Image Examples:

1. (Not working, oddly) Correct level of nesting, but not grouped under correct `namespace`:

![image](https://user-images.githubusercontent.com/5797588/48375632-8d9a9080-e696-11e8-9337-8d87c5bbec80.png)

2. (Working) Some tools are correctly grouped under the `namespace`:

![image](https://user-ima

[2018-11-12 23:04] onury commented on #58
This is typically a user / documenting issue. Just change your `debug` config to output jsdoc json files and inspect how they're parsed by JSDoc.

Generally this is solved with either `@memberof!` tag (notice the bang suffix) or instead of using `@memberof`, the best way to organize is to specify the full name via `@name` tag. Note that when you do, you'll also need to specify the type. i.e. `@fun

[2018-11-12 23:08] onury commented on #58
Another thought:
Do you somehow have `Tools.Annotation` definition and `LengthTool` in the same file and `AngleTool` in another? Bec. there has to be structural issue how you define the hierarchy of your symbols since LengthTool` and `AngleTool` definitions look very similar.

[2018-11-13 01:08] dannyrb commented on #58
It makes sense you would think that. That's part of the reason I'm so perplexed. I create the namespace in the `index.js` for the directory that contains both tools. Both tools are imported into it, and then re-exported as `named exports`, and grouped as part of a larger `default export` that contains all annotation tools. As far as I can tell, there are no structural differences between the two.

[2018-11-13 02:51] #58 closed, assigned to nobody

[2018-11-13 11:05] dannyrb commented on #58
I appreciate the notes about `src` configuration influencing route splitting and symbols 👍 However, I believe I am still confused. For my situation:

My configuration is similar to this: `"src": ["./src/**/*.js", "./README.md"],`

then you'll have a visual issue with tree outlining..

1. I declare my namespace in `index.js` as `@namespace Tools.Annotations`
2. **In the same directory**, in each fi

[2018-11-13 12:42] onury commented on #58
Can you provide a mock version of your structure? Only JSDoc comments with file/folder structure is enough. I'll take a look.

[2018-11-13 14:32] dannyrb commented on #58
### Structure

[code]

### JSDoc

### Code Snippet Examples:

`src/tools/annotation/index.js`
[code]

`src/tools/annotation/AngleTool.js`
[code]

`src/tools/annotation/LengthTool.js`
[code]

### Docma Configuration

[code]

[2018-11-14 01:13] adampbragg commented on #56
@onury Thank you for your help. You resolved my issue.

[2018-11-14 01:13] #56 closed

[2018-11-14 04:55] aaronmallen opened #59 "Base path is not auto-set to "/" (default) causes ENOENT: no such file or directory"
given the following configuration:

[code]
images in the left navigation begin to break and terminal errors are logged:

[code]

This appears to be related to setting `app.routing` to `"path"` as setting it back to "query" seems to resolve the issue.

[2018-11-15 01:43] onury commented on #58
I created the exact test with your structure and config.

<img width="1040" alt="docma-test-1" src="https://user-images.githubusercontent.com/3665990/48524168-57c0fc00-e890-11e8-81da-6c715bbaa46e.png">

As you see, the outline is as expected. So I'm not really sure what's the problem..

There is no definition for `Tools`, so the very first node of the tree is also branched.
If you define `Tools` i

[2018-11-15 02:19] onury commented on #59
Just try adding `"base": "/"` for `app` configuration.

[2018-11-15 02:34] adampbragg commented on #57
Yes, give me 12 hours to get back to it.

[2018-11-15 14:21] aaronmallen commented on #59
Shouldn't it already be that since I don't have it defined and that's the default value according to the documentation?

[2018-11-15 15:13] onury commented on #59
Right. I'll fix that with the next release.

Should I assume setting the `base` resolved your issue?

[2018-11-15 15:14] aaronmallen commented on #59
At first glance that appears to be the case yes, however I should highlight that this isn't consistently reproducible (i.e. refreshing the page also appeared to fix it until the next build run)

[2018-11-15 15:16] onury commented on #59
I think that's might be because on the first load the initial page is redirected by the SPA and then you hit reload with the new route. Is that the case?

[2018-11-15 15:17] aaronmallen commented on #59
Yeah actually it appears that applying `"base": "/"` does completely fix the issue, I just did 3 rebuilds in a row without seeing the images break. Now if I could just get you to make JSDoc work nicely with multi file libs I'd be in doc heaven :joy: Awesome tool btw thank you so much for this library.

[2018-11-15 15:21] onury commented on #59
You're welcome.

How do you mean? Docma already supports grouping multiple JS files documented under the same route and you can have multiples of that too, if that's what you mean.

[2018-11-15 15:30] aaronmallen commented on #59
Its not a `docma` issue really, I don't like having to explicitly name functions in certain situations when using ecma 6.  For example:

[code]

[2018-11-15 16:02] onury commented on #59
:) Unfortunately that's how JSDoc works.

If you don't want to use `@memberof` or `@name` to force organize; maybe you should use [`@namespace`](http://usejsdoc.org/tags-namespace.html) tag.

[code]

[2018-11-15 16:03] aaronmallen commented on #59
yeah its just a small nag I have... I actually really hate the namespace feature as it's not overly apparent what a "namespace" is.

[2018-11-15 21:12] adampbragg commented on #57
@onury
Starting the server executing from the root of the project: `docma serve ./docs`
![filestructure](https://user-images.githubusercontent.com/445985/48581902-f9b80700-e8d7-11e8-9903-58c1ad242d1e.jpg)

[2018-11-15 21:19] onury commented on #57
@adampbragg Can you also provide your docma.json configuration?

[2018-11-16 21:21] onury commented on #57
I tested your use case and actually it works for me bec. Docma CLI does all the arrangements required to run the app. It serves the `dest` and uses the `base` as the main route. When you run `docma serve`, see the initial logs for `Starting server @ ...` and `Serving SPA @ ...`.

Which Docma version are you using?

You could also simulate the remote structure within your `./docs` directory.
`./doc

[2018-11-16 21:50] adampbragg commented on #57
"docma": "^2.1.0"

Your "Side note" is what fixed this for me. Interestingly, not specifying the docs to serve like you mentioned generated the http://localhost:9000/my-library path.

@onury As my own side note, thank you for creating docma. It was the only documentation generation application that fit my needs and generated clear usable docs. And, thank you for your help in clearing this up for m

[2018-11-16 22:10] onury commented on #57
You're welcome. Good to hear your issue is resolved.
I'll underline that side not in Docma's documentation.

[2018-11-16 22:10] #57 closed

[2018-11-16 22:29] onury commented on #57
Note: I'm also adding a new option for Docma CLI to override/set the base path from command line.
[code]

[2018-11-17 02:12] onury commented on #50
Thanks for reporting.

Docma adds a `$docmaLink` property to each symbol to be used by the template for internal linking.  When routing method is set to `"path"`, the link was preceded with a `/` which makes it an absolute path rather than a relative path which is required for it to work with the `app.base` path.

Fixed. Will be available in next release.

[2018-11-18 20:08] onury commented on #59
Released with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:08] #59 closed

[2018-11-18 20:08] onury commented on #55
Fixed with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:08] #55 closed

[2018-11-18 20:08] onury commented on #54
Fixed with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:08] #54 closed

[2018-11-18 20:08] onury commented on #52
Released with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:08] #52 closed

[2018-11-18 20:09] onury commented on #50
Fixed with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:09] #50 closed

[2018-11-18 20:09] onury commented on #48
Released with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:09] #48 closed

[2018-11-18 20:09] onury commented on #45
Fixed with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:09] #45 closed

[2018-11-18 20:10] onury commented on #41
Fixed with [Docma v3.0.0](https://onury.io/docma/changelog).

[2018-11-18 20:10] #41 closed

[2018-11-20 08:34] aaronmallen opened #60 "Add @default tag support"
given:

[code]

vanilla jsdoc would display the value of the constant here as I have labeled it as a default, I'd like to see the same support for the tag in docma.

[2018-11-27 21:23] aaronmallen opened #61 "CLI broken for node 8.0.0"
All CLI commands fail for node v8.0.0

[code]

[code]

[2018-11-27 21:31] aaronmallen opened #62 "routing path refresh leads to 404"
Using `app.routing` `path` will result in 404 on page refresh. links in the nav menu will take you to the expected page but on page refresh a trailing `/` is added to the url and a 404 Page not found is displayed.

[code]

[code]

[2018-11-27 21:43] aaronmallen opened #63 "Add Support for brand font awesome fonts."
please add the brand (`fab`) library from font awesome.
Example icon that does not currently work:
`fab fa-dev`

https://fontawesome.com/icons/dev?style=brands

[2018-12-01 02:59] onury commented on #61
There is nothing related to docma in your stack trace.

[2018-12-01 03:01] onury commented on #62
You have `"entrance": "content:readme"` but you don't have any route named `readme` in your `src`.

[2018-12-01 03:04] aaronmallen commented on #62
@onury readme.md is in docs/ please reopen

[2018-12-01 03:04] aaronmallen commented on #62
Also Readme loads fine the issue is with the two api paths

[2018-12-01 03:05] #61 closed

[2018-12-01 03:08] onury commented on #62
Try updating your `href`s without a leading slash (`/`) which results in an absolute path rather than relative. e.g. `"api/interface"` instead of `"/api/interface"`.

[2018-12-01 03:09] aaronmallen commented on #62
Lastly I appreciate you and this project and have read the docs extensively both from your site AND from the source itself ;)

[2018-12-01 03:35] aaronmallen commented on #62
Still reproducible when using relative paths in the config. To be clear its not a generic 404 thats being loaded its a docma generated page for 404 with the nav and everything still present.  You can even just click the link from the nav to make it redirect to the right page.

To reproduce:
1. set `app.routing` to `path` in your config
2. have 2 "named" api's (i.e. 'api1', 'api2') in the `src` of

[2018-12-01 03:41] aaronmallen commented on #62
Still reproducible when using relative paths in the config. To be clear its not a generic 404 thats being loaded its a docma generated page for 404 with the nav and everything still present.  You can even just click the link from the nav to make it redirect to the right page.

To reproduce:
1. set `app.routing` to `path` in your config
2. have 2 "named" api's (i.e. 'api1', 'api2') in the `src` of

[2018-12-01 03:46] aaronmallen commented on #62
[code]

[2018-12-01 10:42] vipzhicheng opened #64 "Auto TOC for markdown doc"
I just want to suggest a feature which is auto product TOC for markdown file, and make it into sidebar like the jsdoc. Because sometimes the markdown file is very long.

[2018-12-02 21:44] onury commented on #62
This is a bug in the core dependency `page.js`.
I've opened an [issue](https://github.com/visionmedia/page.js/issues/526) there and also sent a [PR](https://github.com/visionmedia/page.js/pull/527) to fix it.

If they don't merge this soon, I'll use my fixed version of page.js in the new release (that has some other fixes).

Thanks for reporting.

[2018-12-03 22:19] onury commented on #63
Available in Docma 3.1.0
See `options.contentView.faLibs` in [Zebra template docs](https://onury.io/docma/templates/zebra#template-options).

[2018-12-03 22:19] #63 closed

[2018-12-03 22:21] onury commented on #62
Fixed in [Docma 3.1.0](https://onury.io/docma/changelog#310--2018-12-04-).
Let me know if it works for you.

[2018-12-03 22:21] #62 closed

[2018-12-03 22:21] onury commented on #60
This was already supported for symbol parameters.
Added support for symbol itself.
Available in [Docma 3.1.0](https://onury.io/docma/changelog#310--2018-12-04-).

[2018-12-03 22:21] #60 closed

[2018-12-05 21:11] aaronmallen commented on #62
Works great! Thank you @onury

[2019-01-22 15:57] chepitoco commented on #62
I have this dogma test:

` {
    "src": [
        "./src/components/**/*.js",
        "./README.md"
    ],
    "dest": "./src/docs"
}`

When I execute, `yarn docma -c docma.json` it works but when I visit the generated index.html I'm getting the following:
![screen shot 2019-01-22 at 10 54 49 am](https://user-images.githubusercontent.com/15802694/51547389-2d616100-1e34-11e9-9719-fbdb8e420a9a.png)

[2019-01-22 17:40] onury commented on #62
You cannot view the generated app by opening (double-clicking) the index.html. You need to serve the app locally to test it. You can use `docma serve` command.

And according to your docma.json config, you should have these routes:
- `<your-docs-root>/?api` : generated from your .js files
- `<your-docs-root>/?content=readme` : generated from README.md

Please read the [documentation](https://onury

[2019-02-21 11:36] amishshah opened #67 "Incorrect default value for markdown.sanitize"
In the [library itself](https://github.com/onury/docma/blob/300d011d58dba8da938560a6866636562475aad5/lib/Docma.js#L123), `markdown.sanitize` defaults to true, whereas the [documentation](https://onury.io/docma/api/#Docma~BuildConfiguration) indicates that it defaults to `false`.

I wasn't sure whether the implementation in the code is wrong, or whether it was the documentation so I've not submitte

[2019-02-27 14:04] warpdesign opened #68 "Migration links are out of date"
All migrations links found in the release pages seem to point to 404.

I'd like to migrate a project that's using Docma 1.x but don't know how to do it.

Example of broken link: [CHANGELOG](https://onury.io/docma/?content=changelog)

[2019-02-27 14:31] warpdesign commented on #68
Attempted to updated to v2.x and got an error with my template: it seems the way templates are defined has changed.

I used to have this:

Right now it's expecting a node module so crashes in templateBuild trying to `require('docma-template-foo')` which of course doesn't work since it's not an npm module.

Are there any guides on how to migrate from 1.x to 2.x (and then to 3.x)?

[2019-02-28 00:21] onury commented on #68
Thanks for the heads-up. Updated all change-log links in releases. Essentially all point to the same change-log page though.

Yes. As [noted here](https://onury.io/docma/changelog#200--2018-04-12-), templates are now node modules.

## Migrating your template for Docma **v2+**
  - [Configure the `package.json` of your module](https://onury.io/docma/templates/guide/#configuring-packagejson) to defin

[2019-02-28 00:30] onury commented on #67
Thanks will be checked/updated with next minor release.

[2019-02-28 08:50] warpdesign commented on #68
Thanks for the details.

Started porting my template to v2.

I used to have a compile option in my template `json` file:

[code]

I don't see anything similar for v2 templates: is it gone?

[2019-02-28 09:16] warpdesign commented on #54
I am migrating an old template from v1 to v2 and stumbled upon this bug. Is there a workaround for this other than patching jsdoc-x?

Note: I am planning to move to the latest v3 version later but one step at a time :)

[2019-02-28 09:33] warpdesign opened #69 "v2: crash if a number is used as a key"
While porting a v1 template to docma v2 I stumbled upon this [crash](https://github.com/onury/docma/issues/55).

After some digging it appears that what makes it crash is the following:

[code]

Replacing it with the following code works as a workaround:

[code]

That may be fixed by v3 already but I cannot verify it since I'm focused on making my template work on Docma v2 first.

[2019-02-28 09:43] warpdesign commented on #69
The changelog page also mentions that the getSymbolByName signatured has changed:

Would be great to tell what has changed :)

[2019-02-28 10:15] warpdesign opened #70 "compile: what's the recommendation now that compile option is gone?"
The compile option was removed in v3.

What's the best way to compile js/less files?

I used to have something like this in my docma-template.json file:

[code]

Should I add some build scripts into mytemplate/package.json and call them in the `prebuild()` callback?

[2019-02-28 10:40] warpdesign opened #71 "After v2/v3 migration: @extends is empty"
My partial looks like this:

[code]

This is what my jsDocs look like:

[code]

In v1 this worked as expected, displaying a link in the generated html page:

![image](https://user-images.githubusercontent.com/199648/53560802-861bcc00-3b4d-11e9-876d-292cf3e5f895.png)

But when built using docma v2/3, the link doesn't appear next to "extends":

![image](https://user-images.githubusercontent.com/1996

[2019-02-28 10:56] warpdesign opened #72 "Security: the local path shouldn't appear in generated docs"
It seems that for some reason Docma adds the full local's path to the code it parses:

![image](https://user-images.githubusercontent.com/199648/53561664-c4b28600-3b4f-11e9-924b-cb4861b0e357.png)

This path:
 - has no use in this context
 - can be a security problem

[2019-02-28 10:57] warpdesign commented on #71
I also noticed that this particular doc section takes a very long time to be rendered: something like 3-4 seconds, in local.

This seems too long, even though the json that's loaded is rather big: ~400kb.

[2019-02-28 11:14] onury commented on #68
Yes, mentioned in change-log for v2. Files should be pre-compiled in order to speed up build process for the end-user.

[2019-02-28 11:18] onury commented on #68
If you need it that way; you can still workaround this by hooking into build process via `preBuild()` or `postBuild()` and also use `fs` and `utils` or your own functions/modules, though.

[2019-02-28 11:26] onury commented on #69
You could either check out the [code](https://github.com/onury/docma/blob/master/lib/web/DocmaWeb.Utils.js#L201) or the [documentation](https://onury.io/docma/api/web/utils#DocmaWeb.Utils.getSymbolByName) and/or use some sort of code-completion / intelli-sense. Code is documented so it should give you much proper details about the signature and more; rather than explaining every little thing in th

[2019-02-28 11:29] onury commented on #69
Error you've mentioned is fixed with [v3.0.0](https://onury.io/docma/changelog#300--2018-11-18-). Re-open if you still encounter this with v3+

[2019-02-28 11:29] #69 closed

[2019-02-28 11:48] onury commented on #70
**Recommendation** is to use previously compiled files so the end-user builds their docs faster. So in your case, this means including the final minified JS file rather than integrating an uglify operation into the build process.

**Workaround** is to use `preBuild()` option. You don't call `preBuild()` yourself. It will be part of the docs-build process run by Docma core. In other words, `preBuil

[2019-02-28 11:48] #70 closed

[2019-02-28 11:54] onury commented on #72
That's by JSDoc itself but Docma should parse them out. You're right.

[2019-02-28 11:56] #68 closed

[2019-02-28 12:08] onury commented on #71
In Docma v1.x there was no auto-link feature. it was first introduced with v2.0.0. Docma calculates the link and provides `$docmaLink` property but the actual HTML linking is done via the template, not by Docma.

Could that be about your template? Maybe some part is not compatible with Docma web? Can you check the HTML source (by right clicking, then view source)?

[2019-02-28 15:12] warpdesign commented on #72
@onury I saw you have hidden the local from the screenshot: sorry for not doing it in the first place 😕

[2019-02-28 16:42] warpdesign commented on #71
Actually this was implemented inside the 1.x template, but it was using an API that has changed as well, so was returning an empty string.

[2019-02-28 16:42] #71 closed

[2019-02-28 19:11] onury commented on #72
No worries. Your feedback is valuable anyways.

[2019-03-04 14:56] warpdesign opened #73 "@note"
I have some notes in my code, in the form of:

[code]

Docma simply adds a `note:` in the generated documentation, but without the text after so it's quite useless.

Reading the JSDoc documentation, I couldn't find  `@note` so it may not be officially supported.

Shouldn't Docma simply skip it if that's not the case? or print it as-is maybe?

[2019-03-04 23:38] onury commented on #73
You probably have `jsdoc.allowUnknownTags` set to `true` (which is by default if you've omitted) in your [build configuration](https://onury.io/docma/api#Docma~BuildConfiguration). It will allow the tag but may/will not include the text (JSDoc core related).

[2019-03-04 23:38] #73 closed

[2019-03-13 20:53] Woosy opened #74 "Wrong paths in index.html"
Hi,
I just tried to use docma for the very first time, by using the following command `docma -s app:src/app.js  -d doc/`.

However when I opened the generated `index.html` file, I had a blank page.
When I opened Chrome's inspector, I saw that none of the file loaded (see following image)
![image](https://user-images.githubusercontent.com/26418696/54313378-8306ee00-45d9-11e9-835c-9db9206d6b7e.png)

[2019-03-14 00:09] onury commented on #74
You should run an http server to test/view the generated SPA. You can use the built-in `docma serve` command or any other static files server.

[2019-03-14 07:41] Woosy commented on #74
After a lot of struggle, I finally managed to get it up and running via `docma serve`.
It wasn't that difficult, but I find that the explanations were pretty difficult to understand for a beginner..

[2019-03-14 07:41] #74 closed

[2019-03-14 13:11] onury commented on #74
Is it the wording in the docs? A missing example?
Pls let me know which part was difficult to understand so we can make it easier.

[2019-03-17 20:57] takase1121 opened #75 "HTML in markdown failed to render"
https://takase1121.github.io/Haruna/
The failed `p` and `img` tags are pretty obvious. Can I get them to work?

[2019-03-18 00:43] onury commented on #75
Pls paste or attach your docma.json / config.

[2019-03-18 06:30] takase1121 commented on #75
[code]

[2019-03-19 02:50] onury commented on #75
Pls remove `"plugins": ["plugins/markdown"]` from your config. Docma includes a markdown parser.

[2019-03-19 10:49] takase1121 commented on #75
The problem with HTML tag still persists. Not only that, If I disable jsdoc markdown plugin markdown in jsdoc is now ignored! Any ideas on how to fix it?

[2019-03-19 13:42] onury commented on #75
Can you upload a sample project for me to reproduce the problem? I'll try to look into it tomorrow.

[2019-03-19 14:15] takase1121 commented on #75
[Haruna.zip](https://github.com/onury/docma/files/2983767/Haruna.zip)
This should be it. Thank you!

[2019-03-21 09:57] warpdesign opened #76 "Suggestion: turn line numbers into links"
It would be great if the line numbers could be turned into `github` links to the source code line.

I think there could be an option, with a link to the github repo that could be used to turn the line numbers into links.

Example GitHub link: https://github.com/AthenaJS/athenajs/blob/master/js/Editor/MapEditor.js#L8

[2019-03-21 10:30] warpdesign opened #77 "Markdown ignored in jsDoc?"
I have comments like this one:

[code]

In Docma v1.x, this used to work correctly, and effects were displayed using html list:

- {Fade} performs a fade
- {Mosaic} performs a SNES-like mosaic effect
- {Rotate} performs a rotation on the object

In Docma v3.x, markdown isn't interpreted anymore and this is what's displayed instead:

Note: the text between curly brackets were also transformed into

[2019-03-24 05:46] takase1121 commented on #75
I got it! I turned `markdown.sanitize` to `false` in docma config and it worked!

[2019-04-20 20:32] ghermeto opened #78 "Docma CLI `--base` overwrite option"
The `docma serve` command can have a `--base` option that is very useful to test locally when you have a `app.base` specified. However, the main Docma CLI doesn't have a `--base` option that allow us to overwrite what is specified on `app.base`.

This poses a challenge to publish different module versions to our internal manuals which has the version as part of the base path (as `/view/module-name

[2019-04-22 00:22] onury commented on #78
Thanks but `docma serve` command already has it. See [docs here](https://onury.io/docma/cli#docma-serve--path---options-).

[2019-04-22 01:19] ghermeto commented on #78
Sorry, maybe my message wasn't clear. I know `docma serve` has it, but the main `docma` command doesn't. I would like a way to override `app.base` at the time we are generating docs to publish in a static server, because our manual server put the version as part of the URL. Without it, every time we are publishing a new version we need to modify docma.json `app.base` to have the new version and ca

[2019-04-22 01:25] ghermeto commented on #78
actually, nevermind... I can create a script that modifies docma.json and call it on `prepublishOnly`. doesn't need to be part of docma.

[2019-04-23 11:42] onury commented on #78
I see what you mean. Yes `--base` option would be very useful for that kind of use-case. You're welcome if you still want to send a PR. I'll re-open this as a feature-request now. Thanks.

[2019-04-24 20:51] ghermeto commented on #78
Thanks. I opened #79 with the changes. Currently there isn't a great way to test CLI without change some of the current behavior (like passing `argv` as a parameter to to `updateConfig` and exporting the method), but I didn't want to make such a huge change for something so small. If you like I can make another PR to enable CLI testing.

[2019-04-25 22:41] onury commented on #78
No problem. Thanks

[2019-05-31 01:03] JRJurman commented on #75
I had to do this as well to get html in markdown to work. It says in the docs that it's by default set to `false`... Do the docs need to be updated?

[2019-06-02 09:15] mt0erfztxt opened #80 "Some classes treated as constructor"
Some classes treated as `constructor` and displayed accordingly. This causes links to such classes to be broken. How can I made them to be shown as `class`?

Classes shown in UI as `class`: [src](https://github.com/mt0erfztxt/nebula-test-fragment/blob/feature/api-docs/src/fragment.js)/[docs](https://mt0erfztxt.github.io/nebula-test-fragment/api/fragment#Fragment).
Classes shown in UI as `construct

[2019-07-05 00:31] trusktr opened #81 "forcing `:js` on TypeScript files is not working. Is it supported?"
I tried configuring `docma.json` with

[code]

and it results in many messages like

[code]

I tried to force it to use `:js` on the TS files:

[code]

and it said

[code]

Is that supposed to work?

[2019-07-05 00:35] trusktr commented on #81
I tried changing the config to

[code]

and it said

[code]

Is that supposed to work?

[2019-07-06 23:44] onury commented on #81
`.ts` files are not supported by JSDoc core. So Docma cannot generate docs out of them.
I also write TypeScript mostly and generate docs from the transpiled `.js` files.

If that's not working for you maybe check if there are any jsdoc plugins for `.ts` files and use it within your `docma.json` under `jsdoc` config.

[2019-07-06 23:44] #81 closed, assigned to nobody

[2019-07-08 20:21] adampbragg opened #82 "CSS Documentation"
CSS as written is inherently difficult to understand and relate to markup and associated javascript enhancing both the css and markup. Documenting CSS using KSS, makes it easy to interpret like JSDoc. I would love for docma to add KSS parsing and documentation generation for CSS.

[2019-07-13 14:30] takase1121 opened #83 "Strange parsing issue(?)"
I have this file structure.
![image](https://user-images.githubusercontent.com/20792268/61172877-a8266000-a5bd-11e9-8dbe-e8456ac89939.png)
However when I generate the docs the tree became like this instead
![image](https://user-images.githubusercontent.com/20792268/61172882-ba080300-a5bd-11e9-8f3e-b122e542f165.png)
(`.parse` is a static method in `DocLoader`)

[2019-07-13 14:52] onury commented on #83
JSDoc does not care about the file structure. It's about class/namespace hierarchy.
Docma tree outline shows that the hierarchy is not correctly documented with JSDoc.

Make sure your `parse()` function is a child of `DocLoader`.
One way is this:
[code]
or you could use `@memberof`
..

Pls consult JSDoc documentation.

[2019-07-13 15:23] takase1121 commented on #83
none of your suggestion worked. Here is a snippet of code I had.
[code]
I really can't find out where's the issue

[2019-07-13 18:20] onury commented on #83
It seems you didn't document `DocLoader`.

[2019-07-14 01:19] takase1121 commented on #83
How do I do that?

[2019-07-14 08:03] takase1121 commented on #83
Thanks for your help. Apparently I just have to document the classes with `@class` tag  now it works fine.

[2019-07-14 08:03] #83 closed, assigned to nobody

[2019-07-14 08:25] takase1121 opened #84 "extends @external types does not work"
I have this code snippet
[code]
The results did not show a proper link for the `extends` part
![image](https://user-images.githubusercontent.com/20792268/61181095-f25a2080-a653-11e9-93be-8c55fd2fa869.png)
Anyone has any ideas?

[2019-07-14 10:32] onury commented on #84
Remove `external:`.
[code]

[2019-07-14 10:32] #84 closed, assigned to nobody

[2019-07-25 03:16] trusktr commented on #81
Oh I see. So you mean, the jsdoc parser can not parse jsdoc comments when they are among TypeScript code? It won't simply ignore the code and parse only the comments (which are plain regular jsdoc comments)?

Good idea to parse the output file docs! Thanks!

Might be cool to document this. Maybe in the future an extension for Docma could compile TS to JS, then generate from there.

[2019-07-27 08:28] trusktr commented on #81
Running it on the JS build output works great. Thanks!!!

[2019-07-27 08:33] trusktr opened #85 "option to put API docs for each file on a separate page?"
I have a bunch of classes in separate files, and I noticed that it places all the docs for all the classes on a single page. Can we control this, and put them on separate pages?

[2019-07-27 17:21] trusktr commented on #85
Looks like I have to specify each page? f.e.:

[code]

Maybe I can just generate this file...

[2019-07-27 18:56] trusktr commented on #85
It looks like the answer is to generate the `src` config so that my classes are on separate pages.

[2019-07-27 18:58] trusktr opened #86 "navigate/search across all pages"
If I [place my classes in separate files](https://github.com/onury/docma/issues/85), it doesn't look like I can search them all in the sidebar. Looks like I can only search/filter the content of the current page only.

What I want to do is have something like https://threejs.org/docs, where we can filter the sidebar which contains the classes for the whole library, but each class lives in a separa

[2019-07-27 19:00] trusktr commented on #85
After putting classes on separate pages, I realized that the sidebar can not link to all classes, only to the content of the current page (and same with search), so I made a new question about that: https://github.com/onury/docma/issues/86

[2019-07-31 01:27] onury commented on #85
Sidebar is an outliner, not a navigation menu.
It lists symbols of the API belonging to your current path.
Use the top nav bar for navigating different documentations.

[2019-07-31 01:27] #85 closed, assigned to nobody

[2019-07-31 01:29] onury commented on #86
Sidebar is an outliner. Not a nav menu. It only searches (actually filters) the API of the current route. But searching in all documented APIs would be a nice feature.

[2019-07-31 01:33] onury commented on #82
Will consider this in the future. Thanks.

[2019-08-26 07:53] OmgImAlexis opened #89 "Prevent "parent" description being used for properties when empty"
The other properties on the object with a description are fine, it's just the ones without one that're the issue.

[code]

This is a part of my `jsdoc.json` from `docma --debug`.

[code]

This is the output.
![Screen Shot 2019-08-26 at 5 01 58 pm](https://user-images.githubusercontent.com/6525926/63674444-b8b92f80-c825-11e9-9962-58350b769b75.png)

[2019-09-09 03:28] OmgImAlexis opened #90 "Support linking to built-in types, all lowercase"
Currently I have to use `Object` over `object` as docma doesn't link to MDN for the lowercase version.

|`object`|`Object`|
| ------------- |:-------------:|
| ![Screen Shot 2019-09-09 at 12 53 16 pm](https://user-images.githubusercontent.com/6525926/64501493-bf08da80-d300-11e9-9664-40582e409d80.png)  | ![Screen Shot 2019-09-09 at 12 53 27 pm](https://user-images.githubusercontent.com/6525926/6450

[2019-10-30 00:23] JRJurman opened #92 "Getting 404 page when query params are present and routing is set to path on root route"
## Summary

I've noticed for my site (and the docma site) that query parameters are not ignored if they are included at the end of a path - even though the routing is set to work with the path.

For example, instead of ignoring (or removing) the query param, the page for `https://onury.io/docma/?example` shows a 404 page.

![image](https://user-images.githubusercontent.com/326557/67819010-e15ddf80

[2019-10-30 00:41] JRJurman commented on #92
On some investigation, it looks like it's coming from these lines
https://github.com/onury/docma/blob/master/lib/web/DocmaWeb-SPA.js#L96-L102

I'm willing to make a PR for the change, but the way this is written, it appears intentional. Eager to hear feedback if a PR to change this would be accepted.

[2019-10-30 01:51] JRJurman commented on #92
After doing some more investigation, it appears this issue only occurs on the root route. This can be seen on the docma website as well, if you append a query parameter to the api page
https://onury.io/docma/api/?example

[2019-11-15 02:21] OmgImAlexis opened #97 "Support importing typedefs"
I get this error. The import syntax is valid in jsdoc.

[code]

[code]

Ref: https://github.com/onury/jsdoc-x/issues/12

[2019-12-11 13:37] OmgImAlexis commented on #44
Sorry for not opening a new issue but is there a way to run the serve command but also reload on changes? I had hoped to see something like `docma serve --watch`.

[2019-12-12 13:41] OmgImAlexis commented on #80
@onury any chance you could look into this? I've noticed the same issue.

[2019-12-12 14:31] OmgImAlexis opened #98 "Show typedef?"
Is there a way to have docma render the typedefs as well?

I couldn't find `Resource` or `GameOptions` in the docs output. They also weren't linked in the `Game` section of the docs. Instead just shown as `GameOptions`.

[code]

[2019-12-13 01:25] OmgImAlexis opened #99 "Folding symbols seems broken on the latest version"
Clicking on folding symbols on my current docs does nothing apart from changing the icon back and forth between open and closed states. The navbar itself stays the same.

[2019-12-13 01:25] #99 closed, assigned to nobody

[2020-01-14 17:08] ghost opened #101 "Docma Not Rendering Documentation"
Hey there!

I am fairly new to *Docma*. I am able to get it working by the `docma serve` command; however, while building the docs, it generates the main [`index.html`] file "empty". The div element with the ID–'docma-main' is empty. If anyone knows how to resolve the issue, please let me know. Cheers!

Here's my configuration for Docma instance: [gist.github.com](https://gist.github.com/chrovente

[2020-01-14 18:23] #101 closed, assigned to nobody

[2020-01-14 18:51] ghost opened #102 "Relative README links do not redirect"
Hey there!

Relative links redirecting to a certain section in markdown are non-functional. They’re not working in the `readme.html`. After the build, they are not clickable anymore in the output HTML files.

Example:
[code]

Cheers.

[2020-01-14 22:43] onury commented on #97
You've already opened an issue @ jsdoc-x for this. Closing this one.

[2020-01-14 22:43] #97 closed, assigned to nobody

[2020-01-22 03:44] onury commented on #98
Docma renders `@typedef` tags.
But in your case, you don't have any description for `@typedef` symbols.

You should either set **`jsdoc.undescribed`** to **`true`** in your **`docma.json`**,
or add some description like below:

[code]

[2020-01-22 03:44] #98 closed, assigned to nobody

[2020-01-22 04:00] onury commented on #90
I'm not sure about this. Javascript has no type called `object`.
_(Don't confuse `typeof x === 'object'` meta comparison with `Object`.)_

What if you use `object` as a type definition in your code?

[2020-01-22 04:30] #78 closed

[2020-01-22 05:10] onury commented on #92
@JRJurman sorry for the late reply.

How and what does facebook append as query-string? That's weird.

And yes that's intentional ([see this line](https://github.com/onury/docma/blob/master/lib/web/DocmaWeb-SPA.js#L122)) because same URL with a query-string actually is a different resource. If not serving it, should render 404, IMO.

[2020-01-22 05:16] onury commented on #102
That's a bookmark (on the same page) in your example. How is that not clickable?

Pls see [this item](https://onury.io/docma/faq/#linking) in the F.A.Q.

[2020-01-22 11:52] ghost commented on #102
@onury, I am not indicating to the source files or the JSDoc comments here. The obstacle is Docma lowercases the name of the heading or section and adds it as a new heading's ID. Additionally, you can test this behavior [here](https://endb.js.org).

For instance, here's a markdown file (README.md):
[code]

The above markdown file will be parsed by Docma as:
[code]

[2020-01-22 14:08] onury commented on #102
I see.

That behavior is intentional. In order to use URL-safe characters, Docma removes `.,;'"` and back-tick characters, and replaces any character other than `a-z0-9$_` with `-`. Then converts it to lower-case.

So in your example, heading id for `My Section` will be parsed as `my-section`  and  should be linked as `#my-section`.

GitHub also has a similar behavior so Docma also does this so th

[2020-01-24 07:09] JRJurman commented on #92
@onury when just posting the url for my site in a facebook post, this is the query parameter attached
https://tram-one.io/?fbclid=IwAR0FMuUr86D50D15rjYCH8jMm1D8C36BtOE9nszTeZsEFOAmBVgLKUK0lTE

There's also a set of default query params that are attached when creating Facebook ads. Facebook will actually reject the ad because the url resolves as a 404 (with no page content). The query params there

[2020-01-24 22:36] onury commented on #92
Ok. Thanks for the info. I'll look into this.

[2020-01-25 09:15] #102 closed, assigned to nobody

[2020-01-30 17:12] ahmadassaf opened #103 "Incorrect rendering of tree in the navigation menu"
Hello,

I am having issues understanding the rendering of the menu when I have nested modules, namespaces, etc. The usage of `memberof` .. etc. renders the content properly using `jsdoc` but not in docma.

I have a main namespace defined as:

[code]

And then two namespaces `bmrExtension.uikit` and `bmrExtension.profile` and modules `acl` and `loggers` defined as:

[code]

[code]

[code]

[code]

[2020-01-30 17:20] ahmadassaf commented on #103
Was taking a look at https://github.com/onury/docma/issues/58 and I have a similar observations of the rendering of items above and below the `index.js`. Those above are the ones with the wrong order.

![image](https://user-images.githubusercontent.com/550726/73473489-c8b0de80-4384-11ea-94ae-4601b792a7eb.png)

[2020-01-30 17:21] ahmadassaf commented on #58
@dannyrb I am wondering if you have resolved this as I am facing the same exact issue in #103

[2020-01-30 17:23] ahmadassaf commented on #103
and as a sanity check, I've just renamed `contactStore` into `zcontactStore` and the it was added correctly to its place !

[2020-01-30 18:37] ahmadassaf commented on #103
using https://github.com/onury/jsdoc-x this seem to be an issue with the parser rather than with docma. Opened https://github.com/onury/jsdoc-x/issues/13 to track

[2020-02-06 10:37] wvffle commented on #80
Same thing there. It looks like my classes without constructor show up like `class` but the ones with defined constructor show up as `constructor`s

[2020-02-06 11:33] wvffle commented on #80
After some testing in config it turns out that `jsdoc.undocumented` set to `true` fixes this problem

[2020-02-06 11:38] wvffle opened #104 "HTML comments in markdown are rendered as plaintext"
well, to express it simply, i can see HTML comments in a rendered markdown file as a plaintext. Here is a screenshot:
![doc screenshot](https://0x0.st/iiqS.png)
Here is my config:
[code]

[2020-04-09 07:12] zjslqshqz opened #106 "New version compatibility and performance issues。"
My friend, the following problem occurred when I reinstalled.
And the compilation of documents becomes very slow.

Originally more than `200` files, as long as `1 minute`. Now it takes `4 minutes`.

My environment:

node: `13.12.0`

npm: `6.14.4`

[code]

[2020-04-09 07:23] zjslqshqz commented on #106
[code]

[2020-04-28 16:54] jeanlescure opened #107 "Has maintenance of this project stopped?"
I see no new releases for over a year and issues piling up.

What is the status of this project?

[2020-04-28 18:04] ghost commented on #107
That is right, the author has stopped maintaining this project from 2019.

[2020-05-01 15:43] santiagoroca commented on #106
Any news on this issue? Upgrading to Node v12.16.1 seems to introduce a huge performance impact as well. Going from a couple of seconds to ~5 mins (for ~180 files).

[2020-05-04 00:35] zjslqshqz commented on #106
There is currently no record of the author's activity on github. Also, we need to fix it ourselves.😂

[2020-06-19 10:07] nenjack commented on #107
I updated dependencies and few fixes in a fork here: https://www.npmjs.com/package/@jacekpietal/docma

@chroventer @jeanlescure @onury

[2021-04-15 04:08] iWanheda opened #112 "The term 'docma' is not recognized as the name of a cmdlet."
Hi, I installed docma with
[code]
(doesn't create anything)
and whenever I want to run `docma` I get that error.

![image](https://user-images.githubusercontent.com/34320875/114812742-88caf100-9da8-11eb-8450-3ff6431b11c1.png)

![Image](https://b.catgirlsare.sexy/HNMjULUE.png)

[2021-09-17 03:10] takase1121 commented on #112
You might not be familiar with how npm works at all.

If you install docma as devDependencies, you can only run it via `npm run-command` or `npx`.

to run docma with npm `run-command`, you can add it to `scripts` in your package.json:
[code]

To run it with `npx`, use:
[code]

[2021-10-12 00:52] Pomax opened #117 "update deprecated dependencies (or mark this tool itself as deprecated?)"
Running `npm i docma` yields:
[code]
Which makes sense, it's been years since docma itself got an update, but these are _dangerous_ issues, where some of the dependencies have been disavowed by the original authors so... can those be replaced by still maintained dependencies? Or, can this tool itself be marked as deprecated? (run `npm deprecate` as owner and NPM takes care of the rest)